<div class="container">

  <form id='create_survey' >


    Survey Name <input name="survey_name" type="text"><br><br>


    <div class="question_content">
    Question 1: <input name='survey_question_1' type='text'><br>
        <div id="option_content">
            Option 1 <input id="question_option" name='survey_quest_1_resp1' type='text'><br><br>
        </div>
            <button id="option_add_1">Add an option</button>
            <button id="option_remove_1">Remove an option</button><br><br>
    </div>

    <!-- the above will be the come as the default when the page loads -->


   <div id="append_question"></div>

<button id="question_add">Add a question</button>
<button id="question_remove">Remove a question</button>





  </form>

</div>
