<div class="container">
  <h1>Welcome to Survey Gorilla</h1>

  <h3>Please login:</h3>
  <form class="form-horizontal" role="form" action="/user" method="post">

      <label for="inputEmail3" class="col-sm-2 control-label">Email: </label>
      <input type="email" class="form-control" id="inputEmail3" name='email' placeholder="Email"><br><br>



      <label for="inputPassword3" class="col-sm-2 control-label">Password: </label>
      <input type="password" class="form-control" id="inputPassword3" name='password'placeholder="Password"><br>


      <% if @error %>
        <small style="color: red" >Why dude.</small>
      <% end %><br>

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div><br>
  </form>

  <h3>Create an account:</h3>

  <div>
    <form action="/new_user" method="post" >
      Name: <input placeholder="Name" type="text" name="name"><br><br>
      Email: <input placeholder="Email" id="email" type="text" name="email"><br>
      <small id="check_email" style="color: red">Hey inccorect email</small><br>
      Password: <input placeholder ="Password" id = "password" type="password" name="password"><br>
      <small id="check_password" style="color: red">Hey incorrect password</small><br>

      <% if @signin_error %>
        <h2 style="color: red">Something went wrong</h2>
      <% end %><br>
      
      <input id="sign_up" type="submit" name="submit" value="Sign Up">

    </form>
  </div>
</div>








<!-- post '/new' do
  @user = User.create(name: params[:name], email: params[:email], password: params[:password], password_confirmation: params[:password_confirmation])
  session[:user_id] = @user.id
  redirect '/'
end


post '/user' do
 @user = User.find_by_email(params[:email])

  if @user &&  @user.authenticate(params[:password])
    session[:user_id] = @user.id
    redirect '/'
  else
    @error = "Wrong information, You fail at life!"
    erb :login
  end
end


get '/logout' do
  session.clear
redirect '/'
end -->


