<div class="container">


 <h2>Create a Survey</h2>
  <button href="#">Create Survey Now</button>
  <!-- Going to have to link to the appropriate view -->
  <h2>Take a Survey</h2>

<!-- assume that you have an object called Survey (you can get all the surveys using Survey.all) -->

  
  <select>


<!-- Survey.all.each do |survey|
  <option>survey.name</option> -->



    <option>Pick a Survey!</option>
    <option>OneOption</option>
    <option>TwoOption</option>
    <option>ThreeOption</option>
    <option>FourOption</option>
    <option>FiveOption</option>
     -->


  </select>

</div>
