<form id='survey_response' >

   Survey Name --< This is the name of the survey>---<br>

    Question 1: <input name='survey_question_1' type='text'><br>
    Option 1 <input name='survey_quest_1_resp1' type='text'><br>
    Option 2 <input name='survey_quest_1_resp2' type='text'><br>
    Option 3 <input name='survey_quest_1_resp3' type='text'><br>
    Option 4 <input name='survey_quest_1_resp4' type='text'><br><br>

    Question 2<input name='survey_question_2' type='text'><br>
    Option 1 <input name='survey_quest_2_resp1' type='text'><br>
    Option 2 <input name='survey_quest_2_resp2' type='text'><br>
    Option 3 <input name='survey_quest_2_resp3' type='text'><br>
    Option 4 <input name='survey_quest_2_resp4' type='text'><br><br>

    Question 3<input name='survey_question_3' type='text'><br>
    Option 1 <input name='survey_quest_3_resp1' type='text'><br>
    Option 2 <input name='survey_quest_3_resp2' type='text'><br>
    Option 3 <input name='survey_quest_3_resp3' type='text'><br>
    Option 4 <input name='survey_quest_2_resp4' type='text'><br><br>

    Question 4<input name='survey_question_4' type='text'><br>
    Option 1 <input name='survey_quest_4_resp1' type='text'><br>
    Option 2 <input name='survey_quest_4_resp2' type='text'><br>
    Option 3 <input name='survey_quest_4_resp3' type='text'><br>
    Option 4 <input name='survey_quest_4_resp4' type='text'><br><br>

  </form>

</div>
