.big-container {
  margin: 20px auto;
  width: 800px;
  padding: 0px 20px 20px 20px;
}


.container {
  margin: 20px auto;
  margin-top: 70px;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

header {
  /*margin: 20px auto;*/
  /*width: 600px;*/
  /*padding: 0px 20px 20px 20px;*/
  /*border: 1px dotted black;*/
  background: black;
  color: white;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: block;
  height: 50px;
}

li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
}

header h1 {
  margin: 0;
  margin-left: 10%;
  float: left;
  line-height: 50px;
  display: inline-block;
}

header ul {
  margin-right: 10%;
  height: 100%;
  display: block;
}

header li {
  float: right;
  list-style: none;
  margin-right: 10px;
}

header li:first-child {
  margin-right: 0;
}

th {
  text-align: left;
}

button {
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 100px;
  background: linear-gradient(ivory, darkgrey);
}

button:hover {
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 100px;
  background: linear-gradient(darkgrey, ivory);
}

form input[type="submit"] {
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 100px;
  background: linear-gradient(ivory, darkgrey);
}

form input[type="submit"]:hover {
  border: 1px solid black;
  border-radius: 4px;
  margin-right: 100px;
  background: linear-gradient(darkgrey, ivory);
}

.dashboard_button {
  float: right;
  margin-right: 100px;
}

.create_survey_button {

}

.dashboard_button:hover {
  float: right;
}

.create_survey_button:hover {

}

.created_survey_list_item {
  margin-top: 15px;
}

a {
  color: blue;
}
