<div class="container">
  <h1>Welcome, </h1>

  <h3>Results for "<%= @survey.name %>":</h3>

  <% @survey.questions.each do |question| %>
    <h4><%= question.question %></h4>
    <ul>
      <% question.choices.each do |choice| %>
        <li><%= choice.choice %>: <%= percentage_of_responses(question.id, choice.id) %>%</li>
      <% end %>
    </ul>
  <% end %>

</div>
