<div class="container">

  <h1>Create Survey!</h1>
  <form id='survey-builder' action="/surveys/new" method="post">
    Survey Title: <input class='survey-title' name="survey[title]" placeholder="Survey">
    <ol>
      <!-- populated by survey_builder.js -->
    </ol>
    <button class='button add-question'>Add question</button>
    <div class='bottom-border'></div>
    <input class='button' id='create-survey' type='submit' value='Create My Survey! >>'/>
  </form>

</div>





